link(rel="stylesheet", href="/css/admin/questionsAdmin.css")

div(class="questionsAdmin")
    for question in questionID
        div(class="questionD")
            p #{question.title}
            p #{question.description}
            p #{question.userId}




    // for questionz in questionNoID
    //     p #{questionz.userId}
    //