link(rel="stylesheet", href="/css/questions.css")

div(class="aa")
    for question in questionID
        p #{question.title}
        p #{question.description}
        p #{question.userId}
    // for questionz in questionNoID
    //     p #{questionz.userId}
    //