.hello {
  font-family: $headline2;
  font-size: 14px;
  line-height: 22px;
  color: #71787E;
}

.little {
  font-family: $headline2;
  font-size: 14px;
  line-height: 22px;
  color: #71787E;

}

a {
  text-decoration: none;
}