@import 'common';


body {
  background-color: $main;
}

.container {
  margin: auto;
  width: 400px;
  height: 500px;
  margin-top: 110px;
  border-style: solid;
  border-width: 2px;
  border-color: $grey;
  border-radius: 5px;
}

.loginUp {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
}

.loginUp p {
  text-align: center;
  font-family: $headline2;
  font-style: normal;
  font-size: 22px;
  line-height: 44px;
  color: #393C3E;
}

.loginMiddle {
  position: relative;
  width: 100%;
  height: 60%;
  background-color: $white;
  padding-top: 7px;
}

.signin ul {
  list-style-type: none;
}

.signin li {
  margin-left: -10px;
}

.signin p {
  margin-bottom: 5px;
}

.signin input {
  width: 340px;
  padding: 10px;
  margin-top: 5px;
  border-style: solid;
  background-color: $main;
  border-width: 1px;
  border-color: $grey;
  border-radius: 5px;

}

.signin button {
  border-style: solid;
  border-width: 1px;
  border-color: $green;
  background-color: $green;
  border-radius: 5px;
  width: 340px;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: $white;
}

.loginDown {
  position: relative;
  width: 100%;
  height: 20%;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: $main;
}

.pp {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -25px;
  padding-left: 2px;
  padding-right: 2px;
  width: 200px;
  background-color: white;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: #71787E;
}

img {
  display: inline-flex;
  width: 60px;
  height: 60px;
  margin-left: 7%;
}

@import "little";
#already {
  position: absolute;
  left: 0;
  bottom: -40px;
}

#pass {
  position: absolute;
  right: 0;
  bottom: -40px;
}