@import "common";
@import "home/square";
@import "home/info";

body {
  background-color: $main;
  //background-image: url("https://cdn.discordapp.com/attachments/450559026338594827/450560840358166529/unknown.png");
  //background-size: 100% auto;
  //background-repeat: no-repeat;
}

.container {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-left: 443px;
  margin-top: 0;
  width: 835px;
  height: 800px;
}

.dropdownT {
  @include abs;
  right: 0;
  top: 3.5%;
}

.dorpbtn {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #F9FAFC;
  border-radius: 2px;
  padding: 5px;
  width: 115px;
}

.dorpbtn:hover {
  background-color: red;
}


.dorpbtn:hover .dropdown-content{
  display: block;
  width: 200px;
  height: 200px;
  background-color: yellow;
}

