@import "common";
@import "home/square";
@import "home/info";

body {
  background-color: $main;
  //background-image: url("https://cdn.discordapp.com/attachments/450559026338594827/450560840358166529/unknown.png");
  //background-size: 100% auto;
  //background-repeat: no-repeat;
}

.container {
  position: relative;
  @include border(transparent);
  margin-left: 443px;
  margin-top: 0;
  width: 835px;
  height: 800px;
}

.dropdownT {
  @include abs;
  right: 0;
  top: 3.5%;
}

.dorpbtnT {
  background-color: transparent;
  @include border(#F9FAFC);
  padding: 5px;
  width: 115px;
}


.dorpbtn:hover .dropdown-content{
  display: block;
  width: 200px;
  height: 200px;
  background-color: yellow;
}

