@import "common";

.questionForm {
  position: relative;
  margin-left: 0;
  margin-top: 38.8%;
  width: 100%;
  height: auto;
}

.quesTitle {
  background-color: white;
  @include border(white);
  padding-bottom: 17px;
}

.kebab {
  position: relative;
  @include border(transparent);
  height: 3.5%;
  margin-top: 8px;
}

.kebab p {
  display: inline;
  margin-left: 3.3%;
  margin-right: 20%;
}

.kebab img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 10%;
  top: 15%;
}

.quesTitle h1 {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 23px;
  line-height: 14px;
  color: #393c3E;
  margin-top: 28px;
  margin-left: 28px;
  word-spacing: 1px;
}

.quesList {
  position: relative;
  margin-top: 0;

}

.line {
  position: relative;
  background-color: black;
  @include border(black);
  width: 99%;
  margin-left: 0.5%;
  height: 2px;
}

/*L'article*/
.question {
  position: relative;
  background-color: white;
  @include border(white);
  width: 96.8%;
  padding-left: 3.2%;
  height: 7.5%;
}

/* LES ELEMENTS DE LARTICLE*/
#title {
  @include headline3;
  position: relative;
  margin-top: 10px;
}

#poster {
  @include footer;
  position: relative;
  margin-top: -18px;
}

.descdesc {
  position: absolute;
  font-size: 10px;
  width: 130px;
  left: 34%;
  top: 25%;
}

#resolv {
  @include footer;
  position: absolute;
  right: 33%;
  top: 2%;
}

.btnV {
  @include abs;
  @include footer;
  right: 5%;
  top: 24%;
  color: white;
  background-color: $green;
  @include border($green);
  text-align: center;
  padding: 5px;
  width: 110px;
}
