@import "common";

body {
  background-color: $main;
}

.question {
  position: relative;
  background-color: white;
  margin: auto;
  margin-top: 10%;
  width: 60%;
  height: auto;
  padding-bottom: 80px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;

}

.line1 {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 2px;
  top: 80px;
}

.line2 {
  position: absolute;
  background-color: grey;
  width: 100%;
  height: 2px;
  bottom: 70px;
}

h2 {
  @include headline1;
  margin-top: 5px;
  margin-left: 5px;
}

#poster {
  @include footer;
  margin-top: -24px;
  margin-left: 5px;
}

.carre {
  position: relative;
  width: 100%;
  height: auto;
  word-wrap: break-word;

}

#home {
  position: absolute;
  left: 50px;
  bottom: 15px;
}

//comment
.comments {
  position: relative;
  background-color: white;
  margin: auto;
  margin-top:5%;
  width: 60%;
  height: auto;
  padding-bottom: 80px;

  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

#comment {
  position: absolute;
  right: 50px;
  bottom: -5px;
}

#comment ul {
  list-style-type: none;
}

.comment {

}

#posterC {
  @include headline3;
}

#content{
  position: relative;
  margin-top: -10px;
}

.line3 {
  position: relative;
  background-color: grey;
  width: 100%;
  height: 2px;
  margin-bottom: 0;

}