html
    header
        title olivier
        include includes/navbar
            link(rel="stylesheet", href="/css/main.css")


    body
        div(class="info")
            if user
                p #{user.name}
                p #{user.id}
                include admin/newQuestion



        div(class="container")
            include admin/questionsAdmin
        div(class="profile")