html
    header
        title olivier
        include includes/navbar
            link(rel="stylesheet", href="/css/main.css")


    body
        div(class="gg")
            p tetxfgdzf
                if user
                    p #{user.name}
                    p #{user.id}
                    a(href="logout") logout
                    if user.role === 'Admin'
                        include admin/newQuestion
                    if user.role === 'User'
                        include user/userQuestion


        div(class="hh")
            include admin/questionsAdmin