html
    header
        title Forum | Login
        link(rel="stylesheet", href="/css/login.css")

    body
        div(class="container")
            div(class="loginUp")
            div(class="loginMiddle")
                form(method="post", action="api/login")
                    ul
                        li: input(type="text", name="username", placeholder="Username")
                        li: input(type="text", name="email", placeholder="Email")
                        li: input(type="text", name="password", placeholder="Password")
                        li: input(type="text", name="bio", placeholder="Biographie")
                        li: button(type="submit") Connect
            div(class="loginDown")
                    form(method="post", action="api/signin")
                        ul
                            li: input(type="text", name="username", placeholder="Username")
                            li: input(type="text", name="password", placeholder="Password")
                            li: button(type="submit") log ingz
