html
    header
        title Forum | Login
        link(rel="stylesheet", href="/css/login.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet")

    body
        div(class="container")
            div(class="loginUp")
                p Welcome back! Please login.
            div(class="loginMiddle")
                form(method="post", class="signin" action="api/login")
                    ul
                        li: p(class="hello") Sign up by filling the form
                        li: input(type="text", name="username", placeholder="Username")
                        li: input(type="text", name="email", placeholder="Email")
                        li: input(type="text", name="password", placeholder="Password")
                        li: input(type="text", name="bio", placeholder="Biographie")
                        li: button(type="submit") Sign up

            div(class="loginDown")
                div(class="pp")
                    p(class="hello") Login via social networks
                div(class)
                a(href=""): img(src="/assets/image/twitter-icon.png")
                a(href=""): img(src="/assets/image/facebook-icon.png")
                a(href=""): img(src="/assets/image/pinterest-icon.png")
                a(href=""): img(src="/assets/image/dribble-icon.png")
                a(href="login", class="little", id="already") Already have an account? Signin

